body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.box {
  background: white;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}